.app__post {

    padding-top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.left_container {
    align-items: center;
    justify-content: center;

    width: 400px;

    padding: 2rem;
    margin-left: 20px;
    margin-right: 50px;


}

.right_container {
    align-items: center;
    justify-content: center;
    width: 400px;

    margin-left: 50px;
    margin-right: 20px;
}

.right_container img {
    width: 400px;
    margin-bottom: 2rem;
}



.btn {
    cursor: pointer;

    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(208, 201, 201);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(232, 198, 198);

    font-size: large;
}


.btn-container .btn:hover {
    background-color: rgb(218, 133, 133);
    border: 2px solid rgb(218, 133, 133);
}


.post-stepper {
    margin-bottom: 40px;
}


.post-btn-container {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#post_step_button {
    margin: 2rem;

}

.post-form-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.field {
    padding: 10px !important;
    padding-left: 0px !important;
    width: 250px;
    margin-bottom: 10px !important;
}


.post-form-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.popover-box {
    width: 700px;
    height: 400px;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #022403; /* Green border */
    box-shadow: 0 4px 8px rgba(64, 39, 39, 0.1); /* Adding a shadow */
    padding: 3rem;
    margin: 0rem;
    border-radius: 20px;
  }
  




#modal-modal-description{
    margin-top: 2rem;
    text-align: center;
}