.app__post {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;

}

.left_container{
    align-items: center;
    justify-content: center;

    width: 400px;

    padding: 2rem;
    margin-left: 20px;
    margin-right: 50px;


}

.right_container{
    align-items: center;
    justify-content: center;
    width: 400px;

    margin-left: 50px;
    margin-right: 20px;
}

.right_container img{
    width: 400px;
    margin-bottom: 2rem;
}



.btn{
    cursor: pointer;

    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(208, 201, 201);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(232, 198, 198);

    font-size: large;
}


.btn-container .btn:hover{
    background-color: rgb(218, 133, 133);
    border: 2px solid rgb(218, 133, 133) ;
}

.btn-container{
    display: flex;
    justify-content: center;
  align-items: center;
}