.title-h3 {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    font-family: 'Open Sans', sans-serif;

}

hr {
    margin-bottom: 1.5rem;

}

.SearchParam {
    margin: 2rem;
    border: 2px solid rgba(148, 144, 144, 0.525);
    padding: 2rem;

    width: 250px;
    height: fit-content;

    background: white;

    top: 100px;
    left: 0px;

}



#searchLabel {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}


.restriction-header {
    font-family: 'Open Sans', sans-serif;

}

.custom-form {
    color: black;
}


.search-field {
    width: 200px;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
    text-align: center;
    line-height: 1.5;

}

#ingredient-field{
    height: 50px !important;
}