.specific-recipe-container {
    justify-content: space-between;
    text-align: center;
    width: 100%; 
    padding-top: 80px ;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: left;

    margin-left: 1.8rem;




  }
  
  .specific-option {
    background-color: rgba(255, 0, 0, 0.651);

    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    padding: 4rem;
    border-radius: 10px;
    margin: 1rem;
}



.specific-option svg{
    color: white !important;

    font-size: 40px;
  }



  #specific-option-text{
    margin-top: 2rem;
    font-size: medium !important;
    font-weight: bolder;
    color: white !important;

  }


  .group-top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 18rem;
    padding-left: 18rem;
  }

  h1{
    font-family: 'Open Sans', sans-serif;
    text-align: left;


    color: black !important;
    margin: 1rem;
    margin-bottom: 2rem;
  }

  .group-bottom{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 3rem;

  }


  .group-left {
    text-align: left;
  }
  .group-left h2{

    font-family: 'Open Sans', sans-serif;

    color: black !important;
    margin-top: 2rem;
    margin-bottom: 1rem;


  }

  .group-left p{
    color: black !important;
  }

  .group-right img{
    width: 700px;
    padding: 2rem;
  }

  h3{
    color: black !important;
    margin: 2rem;

  }